<%- include("./partials/header") %>

<div class="row">
    <h1 style="text-align: center">Login</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/login" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block"><i class="fas fa-user"></i> Login</button>
            </div>
        </form>
        <a href="/campgrounds"><i class="fas fa-caret-left"></i> Go Back</a>  <hr>
        <a href="/forgot"><i class="fas fa-user-cog"></i> Forgot your password or username?</a>
    </div>
</div>

<%- include("./partials/footer") %>