.thumbnail img {
    width: 100%;
}
.thumbnail{
    padding: 0;
    border: 0;
}
.show-btn{
    margin-bottom: 12px;
}
.deleteForm{
    display: inline;
}
.flash{
    width: 300px;
    text-align: center;
}
body{
    background-color: #70809062;
    padding-top: 80px;
    margin-bottom: 60px;
}

.navbar{
    border-radius: 0;
}
 .jumbotron{
     background-color: white;
 }
 /* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }
  
  .container .text-muted {
    margin: 20px 0;
  }
  #comment-box{
      background-color: white;
      margin-bottom: 6px;
      padding-top: 5px;
      padding-bottom: 5px;
      
  }
  #index-campground-img{
      height: 176px;
  }
  #campground-index-thumbnail{
      height: 330px;
  }

  #comment-text{
    word-wrap: break-word;
  }
  



 